body {
	/*background-image: url('../images/bg.jpg');*/
	background-color: rgb(248,248,248);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.top-margin {
	margin-top: 80px;
}

.phdr {
	background-color: #000;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #FFF;
	font-family: inherit;
	border-radius: 7px 0 0 0;
	background-image: url('../images/star.png');
}

@keyframes example {
	0% {left:0px; top:0px; right: 0px;}
	50% {left:25px; top:0px; right: 25px;}
	/*50% {background-color: blue; left:200px; top:200px;}*/
	/*75% {background-color: green; left:0px; top:200px;}*/
	100% {left:0px; top:0px; right: 0px;}
}

#main-nav {
	background: linear-gradient(bottom, #990099, #9900CC 95%);
	background: -webkit-linear-gradient(bottom, #990099, #9900CC 95%);
	background: -o-linear-gradient(bottom, #990099, #9900CC 95%);
	background: -moz-linear-gradient(bottom, #990099, #9900CC 95%);
	background: -ms-linear-gradient(bottom, #990099, #9900CC 95%);
	display: block;
	color: #FFF;
	opacity: 1;
	height: 70px;
	left: 10px;
	right: 10px;
	position: absolute;
	/* Transition to change opacity in 2 seconds*/
	/*-webkit-transition: opacity 2s;
	transition: opacity 2s;*/
	/* Transition to reduce width in 2 seconds */
	-webkit-transition: left 2s, right 2s;
	transition: left 2s, right 2s;
	transition-timing-function: ease-in-out;
}

#main-nav:hover {
	/*background: -webkit-linear-gradient(top, #fff, #000);
	background: linear-gradient(top, #fff, #000);
	opacity: 0.6;*/
	left: 20px;
	right: 20px;
}

.fileimg {
	/* */
}